<% provide(:title, "About Us")%>

<div class="main"> <!-- start main -->
    <h1 class="">ABOUT</h1>
    <div class="underline"></div>
    <div class="about">
        <div ><%=  image_tag("about.jpg") %> </div> 
        <div id="text" class="main">
            <h2>Workshop offers an online platform and space for makers/artists to showcase and sell their work. Workshop will accurately and faithfully convey the message of any affiliated business while allowing them to focus on their creativity - ‘in the workshop’.</h2> <br>
        </div>
        <div class="underline"></div>
        <h1> Work - With - Us :) </h1>
    </div>
</div><!--end of main -->