<% provide(:title, "New Category")%>
<div class= "main"> <!-- start main -->
    <h2>New Category</h2>
    <%= render 'form', category: @category %>
    <%= link_to 'Back', categories_path %>
</div> <!--end of main -->

